**Lecture 2**

Computes Sharpe ratio for long and Long/Short portfolios.

**Data Description**

Important Dataframes

1.  "Returns" dataframe : Input time series of portfolio returns.

Input file : "b2m_monthlyReturns.csv", created by "Lec2_B2m.ipynb"


2.   "Risk_freeRate" dataframe : Input time series of risk-free returns.

Input file : "Market_Riskfree.csv"

In [1]:
# Importing Necessary Python Libraries
import pandas as pd
import numpy as np

In [2]:
#Portfolio Returns Data
Returns = pd.read_csv("teacherfile.csv") #b2m decile portfolio returns created by Lec2_B2m.ipynb
Returns

      year  month  rank       RET
0     1990     11     0 -0.044314
1     1990     11     1  0.100973
2     1990     11     2  0.076269
3     1990     11     3  0.084393
4     1990     11     4  0.069258
...    ...    ...   ...       ...
4373  2023     12     6  0.127078
4374  2023     12     7  0.129179
4375  2023     12     8  0.153965
4376  2023     12     9  0.168273
4377  2023     12  diff  0.076725

[4378 rows x 4 columns]

In [4]:
#Risk-Free rate

# Importing market return and risk free rate. "Market" is the return on market cap-weighted return of all stocks on US exchanges, and "RiskfreeRate" is the return on one-month Treasury Bill
Risk_freeRate_market = pd.read_csv('Market_Riskfree_2312_copy.csv')     # read risk-free rate and market returns
                                                                                              #"Market" is returns on the market-cap weighted index of all US stocks - "vwretd" in CRSP
Risk_freeRate_market

      year  month  Market  RiskfreeRate
0     1926      7  0.0318        0.0022
1     1926      8  0.0289        0.0025
2     1926      9  0.0059        0.0023
3     1926     10 -0.0292        0.0032
4     1926     11  0.0284        0.0031
...    ...    ...     ...           ...
1165  2023      8 -0.0194        0.0045
1166  2023      9 -0.0481        0.0043
1167  2023     10 -0.0272        0.0047
1168  2023     11  0.0928        0.0044
1169  2023     12  0.0400        0.0044

[1170 rows x 4 columns]

In [5]:
# Merge risk free data to market returns data
merge_data = pd.merge(Returns, Risk_freeRate_market, how = "inner", on = ['year', 'month'])
merge_data['excessReturn'] = merge_data['RET'] - merge_data['RiskfreeRate']

# Annualized Sharpe Ratio calculation for each decile portfolio
for rank in range(10):                                                          # Note: portfolio 'diff' is a long/short portfolio.
  df = merge_data.loc[merge_data['rank'] == str(rank)]                          #select portfolio with decile rank ==rank
  Sharpe_ratio_monthly =  df['excessReturn'].mean()/df['excessReturn'].std()     #Sharpe ratio = mean excess return/standard deviation of excess return
  Sharpe_ratio_annual = np.sqrt(12) * df['excessReturn'].mean()/df['excessReturn'].std()     #Sharpe ratio_annual =  sqrt(12) * Sharpe_ratio_monthly
  print('rank=', rank, 'Sharpe_ratio_annual=', Sharpe_ratio_annual)

rank= 0 Sharpe_ratio_annual= 0.2225130566317897
rank= 1 Sharpe_ratio_annual= 0.3124660906095804
rank= 2 Sharpe_ratio_annual= 0.4147754497075495
rank= 3 Sharpe_ratio_annual= 0.4522291222540835
rank= 4 Sharpe_ratio_annual= 0.47932587573516167
rank= 5 Sharpe_ratio_annual= 0.5695288054205602
rank= 6 Sharpe_ratio_annual= 0.5727074529948248
rank= 7 Sharpe_ratio_annual= 0.6406118994675196
rank= 8 Sharpe_ratio_annual= 0.650444498132192
rank= 9 Sharpe_ratio_annual= 0.5055673904179667

In [6]:
# Extract Long-Short Portfolio
Diff_ret = Returns.loc[Returns['rank'] == 'diff' ]
Diff_ret

      year  month  rank       RET
10    1990     11  diff  0.041363
21    1990     12  diff -0.020667
32    1991      1  diff -0.015697
43    1991      2  diff  0.045938
54    1991      3  diff -0.003295
...    ...    ...   ...       ...
4333  2023      8  diff  0.020492
4344  2023      9  diff -0.000822
4355  2023     10  diff -0.027637
4366  2023     11  diff  0.030330
4377  2023     12  diff  0.076725

[398 rows x 4 columns]

In [7]:
# Monthly and Annualized Sharpe Ratio for Long-Short Portfolio
Sharpe_diff_monthly = Diff_ret['RET'].mean()/Diff_ret['RET'].std()
Sharpe_diff_annual = np.sqrt(12) * Sharpe_diff_monthly
Sharpe_diff_monthly, Sharpe_diff_annual

(0.13548550340753476, 0.4693355511817929)

In [ ]:
# Create excess returns for 130/30 portfolio or 130 long in portfolio 9 and 30 short in portfolio 0
merge_data.set_index(['year', 'month'], inplace = True)
rank_9 = merge_data['excessReturn'][ merge_data['rank'] == '9'].copy()          #Monthly returns series for decile portfolio 9
rank_0 = merge_data['excessReturn'][ merge_data['rank'] == '0'].copy()          #Monthly returns series for decile portfolio 0
ret_130_30 = 1.3* rank_9 - 0.3* rank_0                                          #Monthly returns series for (1.30 * decile portfolio 9 - 0.3*decile portfolio 9 )
ret_130_30.mean()

0.022996276736697657

In [ ]:
# Sharpe Ratio for 130/30 portfolio
Sharpe_130_30_annual = np.sqrt(12) * ret_130_30.mean()/ret_130_30.std()
Sharpe_130_30_annual

0.8635155329678398

What is the market sharpe ratio (annualized) over the 198001-202212 period?