**Lecture 1**

Compute Dow Jones Index using data from Yahoo Finance .

In [1]:
# Installing yfinance package
!pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (0.2.43)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.8.30)

In [16]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import yfinance as yf
import datetime
from datetime import date
from datetime import timedelta

Import  the list of stocks in the Dow Jones Index

In [17]:


DowJonesStocks = pd.read_excel('Dow_20241117.xlsx') # reading excel file containing the constituent stocks in the Dow Index

print("******************************************")
print("Constituent Stocks of Dow Jones Index" )
DowJonesStocks

******************************************
Constituent Stocks of Dow Jones Index

   Ticker                             Name
0    AMZN                   Amazon.com Inc
1     AXP         American Express Company
2    AMGN                        Amgen Inc
3    AAPL                       Apple Inc.
4      BA             Boeing Company (The)
5     CAT                Caterpillar, Inc.
6    CSCO              Cisco Systems, Inc.
7     CVX              Chevron Corporation
8      GS  Goldman Sachs Group, Inc. (The)
9      HD           Home Depot, Inc. (The)
10    HON      Honeywell International Inc
11    IBM  International Business Machines
12    JNJ                Johnson & Johnson
13     KO          Coca-Cola Company (The)
14    JPM            JP Morgan Chase & Co.
15    MCD           McDonald's Corporation
16    MMM                       3M Company
17    MRK     Merck & Company, Inc.  (new)
18   MSFT            Microsoft Corporation
19    NKE                       Nike, Inc.
20     PG   Procter & Gamble Company (The)
21    SHW              Sherwin-Williams Co
22    TRV    The Travelers Companies, Inc.
23    UNH  UnitedHealth Group Incorporated
24    CRM                   Salesforce Inc
25   NVDA                       NVDIA corp
26     VZ      Verizon Communications Inc.
27      V                        Visa Inc.
28    WMT            Wal-Mart Stores, Inc.
29    DIS        Walt Disney Company (The)

In [18]:

DowJonesStocks = pd.read_excel('Dow_20241117.xlsx') # reading excel file containing the constituent stocks in the Dow Index

print("******************************************")
print("Constituent Stocks of Dow Jones Index" )
DowJonesStocks

******************************************
Constituent Stocks of Dow Jones Index

   Ticker                             Name
0    AMZN                   Amazon.com Inc
1     AXP         American Express Company
2    AMGN                        Amgen Inc
3    AAPL                       Apple Inc.
4      BA             Boeing Company (The)
5     CAT                Caterpillar, Inc.
6    CSCO              Cisco Systems, Inc.
7     CVX              Chevron Corporation
8      GS  Goldman Sachs Group, Inc. (The)
9      HD           Home Depot, Inc. (The)
10    HON      Honeywell International Inc
11    IBM  International Business Machines
12    JNJ                Johnson & Johnson
13     KO          Coca-Cola Company (The)
14    JPM            JP Morgan Chase & Co.
15    MCD           McDonald's Corporation
16    MMM                       3M Company
17    MRK     Merck & Company, Inc.  (new)
18   MSFT            Microsoft Corporation
19    NKE                       Nike, Inc.
20     PG   Procter & Gamble Company (The)
21    SHW              Sherwin-Williams Co
22    TRV    The Travelers Companies, Inc.
23    UNH  UnitedHealth Group Incorporated
24    CRM                   Salesforce Inc
25   NVDA                       NVDIA corp
26     VZ      Verizon Communications Inc.
27      V                        Visa Inc.
28    WMT            Wal-Mart Stores, Inc.
29    DIS        Walt Disney Company (The)

In [19]:
# Compiling all stock symbols in a list
stocks_list = list(DowJonesStocks.Ticker) # passing the symbols to the stocks_list , this list will be input for yfinance data call
print("************************************************************************************")
print("List of stocks whose data is going to be downloaded from Yahoo Finance Website are " )
stocks_list

************************************************************************************
List of stocks whose data is going to be downloaded from Yahoo Finance Website are

['AMZN',
 'AXP',
 'AMGN',
 'AAPL',
 'BA',
 'CAT',
 'CSCO',
 'CVX',
 'GS',
 'HD',
 'HON',
 'IBM',
 'JNJ',
 'KO',
 'JPM',
 'MCD',
 'MMM',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'SHW',
 'TRV',
 'UNH',
 'CRM',
 'NVDA',
 'VZ',
 'V',
 'WMT',
 'DIS']

In [20]:
# Importing data from yahoo finance server
d = datetime.timedelta(days = 5)                                               #get data for the last 10 days
data = yf.download(stocks_list, start=date.today()- d, end=date.today()) ##getting prices data using yfinance library
print("Dataset imported using yfinance library" )
print("******************************************")
data["Close"]

[*********************100%***********************]  30 of 30 completed

Dataset imported using yfinance library
******************************************

Ticker,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MSFT,NKE,NVDA,PG,SHW,TRV,UNH,V,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2025-01-29 00:00:00+00:00,239.360001,281.679993,237.070007,315.250000,173.660004,393.230011,354.000000,59.549999,155.690002,113.190002,...,442.329987,76.580002,123.699997,166.229996,360.410004,249.520004,538.099976,335.880005,40.279999,97.500000
2025-01-30 00:00:00+00:00,237.589996,284.019989,234.639999,318.950012,179.529999,374.980011,343.570007,60.470001,156.320007,113.430000,...,414.989990,78.330002,124.650002,167.410004,365.549988,249.089996,545.570007,343.049988,39.470001,98.650002
2025-01-31 00:00:00+00:00,236.000000,285.420013,237.679993,317.450012,176.520004,371.440002,341.700012,60.599998,149.190002,113.059998,...,415.059998,76.900002,120.070000,165.990005,358.160004,245.179993,542.489990,341.799988,39.389999,98.160004

In [6]:
print("******************************************")
print("Most Recent Close Price Dataset of all stocks" )
print("******************************************")
Price = data['Close'].iloc[-1] #extracting last available Close Price for each stock
Price

******************************************
Most Recent Close Price Dataset of all stocks
******************************************

Ticker
AAPL    236.000000
AMGN    285.420013
AMZN    237.679993
AXP     317.450012
BA      176.520004
CAT     371.440002
CRM     341.700012
CSCO     60.599998
CVX     149.190002
DIS     113.059998
GS      640.400024
HD      411.980011
HON     223.720001
IBM     255.699997
JNJ     152.149994
JPM     267.299988
KO       63.480000
MCD     288.700012
MMM     152.199997
MRK      98.820000
MSFT    415.059998
NKE      76.900002
NVDA    120.070000
PG      165.990005
SHW     358.160004
TRV     245.179993
UNH     542.489990
V       341.799988
VZ       39.389999
WMT      98.160004
Name: 2025-01-31 00:00:00+00:00, dtype: float64

In [7]:
# Dow Jones Industrial Average (Dow Jones ndex) Calculation
dowDivisor = 0.16268413 #Most recent divisor for Dow Jones
dowIndex = Price.sum()/dowDivisor # Formula for calculating Dow Jones Index
print("************************************************************")
print("Most Recent value of the Dow Index : " + str(dowIndex) )
print("************************************************************")

************************************************************
Most Recent value of the Dow Index : 44544.66481178061
************************************************************

In [8]:
# Weight Calculation of each stock in the Dow Jones Index
weights = Price/Price.sum() # Weight of each stock in the Index

print("*************************************************")
print("Weights of the stocks in the Index Portfolio : " )
print("*************************************************")
weights

*************************************************
Weights of the stocks in the Index Portfolio :
*************************************************

Ticker
AAPL    0.032567
AMGN    0.039386
AMZN    0.032798
AXP     0.043806
BA      0.024359
CAT     0.051256
CRM     0.047152
CSCO    0.008362
CVX     0.020587
DIS     0.015602
GS      0.088371
HD      0.056851
HON     0.030872
IBM     0.035285
JNJ     0.020996
JPM     0.036886
KO      0.008760
MCD     0.039839
MMM     0.021003
MRK     0.013637
MSFT    0.057276
NKE     0.010612
NVDA    0.016569
PG      0.022906
SHW     0.049424
TRV     0.033833
UNH     0.074860
V       0.047166
VZ      0.005436
WMT     0.013545
Name: 2025-01-31 00:00:00+00:00, dtype: float64

Suppose the dollar value of the portfolio equals today's DOW index. What is the portfolio weight for each component stock?

In [9]:
# Portfolio Value = most recent dowindex
#  Dollar Value of each stock in the index
dollar_value = weights*dowIndex
print("******************************************************")
print("Dollar Value of the stocks in the Index : " )
print("******************************************************")
dollar_value

******************************************************
Dollar Value of the stocks in the Index :
******************************************************

Ticker
AAPL    1450.663934
AMGN    1754.442879
AMZN    1460.990649
AXP     1951.327472
BA      1085.047474
CAT     2283.197522
CRM     2100.389339
CSCO     372.500984
CVX      917.053203
DIS      694.966359
GS      3936.462791
HD      2532.392133
HON     1375.180242
IBM     1571.757472
JNJ      935.247918
JPM     1643.061236
KO       390.204008
MCD     1774.604642
MMM      935.555281
MRK      607.434786
MSFT    2551.324444
NKE      472.695164
NVDA     738.056009
PG      1020.320824
SHW     2201.566949
TRV     1507.092257
UNH     3334.621455
V       2101.003877
VZ       242.125642
WMT      603.377869
Name: 2025-01-31 00:00:00+00:00, dtype: float64

How many  shares of each stock will you buy to track the index?

In [11]:
# Number of shares of stocks in the Index
NumberOfShares = dollar_value/Price
print("******************************************************")
print("Number of shares of stocks in the Dow Jones Index : " )
print("******************************************************")
NumberOfShares

******************************************************
Number of shares of stocks in the Dow Jones Index :
******************************************************

Ticker
AAPL    6.146881
AMGN    6.146881
AMZN    6.146881
AXP     6.146881
BA      6.146881
CAT     6.146881
CRM     6.146881
CSCO    6.146881
CVX     6.146881
DIS     6.146881
GS      6.146881
HD      6.146881
HON     6.146881
IBM     6.146881
JNJ     6.146881
JPM     6.146881
KO      6.146881
MCD     6.146881
MMM     6.146881
MRK     6.146881
MSFT    6.146881
NKE     6.146881
NVDA    6.146881
PG      6.146881
SHW     6.146881
TRV     6.146881
UNH     6.146881
V       6.146881
VZ      6.146881
WMT     6.146881
Name: 2025-01-31 00:00:00+00:00, dtype: float64

Intuitively explain why the tracking portfolio buys equal number of each stock.

**Q1. What is the return on the Dow Jones index on the most recent date?**
Dow_Jones yesterday on data[close].iloc[-2]

Suppose Walmart would go ex-split (2 for 1) after market-close today.
(a) What would be the ex-split price of Walmart?
(b) What would be the ex-split value of Dow?
(c) What is the new divisor?

In [12]:
#data.index
Price_exSplit = Price.copy()
WMT_ex_splitPrice = Price_exSplit['WMT']/2
Price_exSplit['WMT'] = WMT_ex_splitPrice
#data.columns

In [13]:
Price_exSplit

Ticker
AAPL    236.000000
AMGN    285.420013
AMZN    237.679993
AXP     317.450012
BA      176.520004
CAT     371.440002
CRM     341.700012
CSCO     60.599998
CVX     149.190002
DIS     113.059998
GS      640.400024
HD      411.980011
HON     223.720001
IBM     255.699997
JNJ     152.149994
JPM     267.299988
KO       63.480000
MCD     288.700012
MMM     152.199997
MRK      98.820000
MSFT    415.059998
NKE      76.900002
NVDA    120.070000
PG      165.990005
SHW     358.160004
TRV     245.179993
UNH     542.489990
V       341.799988
VZ       39.389999
WMT      49.080002
Name: 2025-01-31 00:00:00+00:00, dtype: float64

In [14]:
#dowIndex_ex-split = Price.sum()/dowDivisor # Formula for calculating Dow Jones Index
Dow_exSplit = Price_exSplit.sum()/dowDivisor
print('Dow_exSplit', round(Dow_exSplit,2), 'pre-split Dow', round(dowIndex,2))

Dow_exSplit 44242.98 pre-split Dow 44544.66

In [15]:
new_divisor = Price_exSplit.sum() / dowIndex
new_divisor

0.16158231450675434